header {
  padding: 15px 5px 5px;
  &-inner-container {
    max-width: 1180px;
    margin: auto;
  }
  @include media-query(medium) {
    header {
      &-inner-container {
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
      }
      &-text-container {
        text-align: left;
      }
    }
  }
}