body {
  font-family: "Nunito", sans-serif;
  text-align: center;
  background: rgba(235, 235, 235, 0.9);
}

header h1 {
  font-family: $font-family--primary;
  color: $color--primary;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.75);
  border-radius: $border-radius--default;
}