/*
////////////////////////////////////////////////////////////////////////////////
// scss/base/_base.scss : BASE STYLES
////////////////////////////////////////////////////////////////////////////////
*/

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
}